html{
	height: 100%;
}

body{
	background: url(https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
	background-size: cover;
	background-position: center;
	font-family: Roboto Mono;
	color: white;
}

.content{
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
	             0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	animation-name: mymove;
	animation-duration: 1.3s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	padding-top: 25%;
}

.info{
	background-color:rgba(57, 59, 59, 0.9);
	border-radius: 20px;
	padding: 20px;

}

h1{
	font-weight: 700;
	font-size: 4em;
	overflow: auto;
}

a {
 color: inherit;
} 

 a:hover {
 color: inherit;
} 

button:hover{
 animation-name: scaling;
 transform: scale(1.1);
 transition-timing-function: ease-in-out;
 transition-duration: .5s;
}

@keyframes mymove{
from {padding-top:0px;
	 opacity: 0;}
to {padding-top:25%; 
	opacity: 1}
}